header {
  margin: 0 auto;
}

.backImage-container {
  display: flex;
  justify-content: center;
}

.backImage-container,
.imgDesk {
  position: relative;
  width: 100%;
  /* width: 100%; */
  /* margin: 0 auto; */
}

.header-todo-container {
  display: flex;
  justify-content: center;
  /* min-height: 90px; */
  margin-bottom: 70px;
}

.todoIcon-container {
  display: flex;
  width: 80%;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  margin-bottom: 100px;
  position: absolute;
  top: 110px;
  /* margin-bottom: -10px; */
}

.todo-text {
  font-size: 4rem;
  letter-spacing: 1rem;
}

.dark-light-image {
  width: 25px;
  height: 25px;
}